CONFIG_TARGET_armsr=y
CONFIG_TARGET_armsr_armv8=y
CONFIG_TARGET_armsr_armv8_DEVICE_generic=y
CONFIG_TARGET_ALL_PROFILES=y
CONFIG_TARGET_ROOTFS_INITRAMFS=y
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_TARGET_ROOTFS_SQUASHFS=y

#
# Extras
#
CONFIG_PACKAGE_qemu-ga=m
#
# videoproxy
#
CONFIG_PACKAGE_ffmpeg=m
CONFIG_PACKAGE_libx264=m
